@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.container{
  background-color: #eee;
}

.item{
  opacity: 1;
  cursor: pointer;
  background-color: #7971ea;
  border: 5px solid #443ea0;
  border-radius: 8px;
  padding: 30px;
  margin: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.item:hover{
  opacity: 0.7;
}

/* Utilisation des flex box */

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}